body {
    font: 1.2em / 1.5 sans-serif;
}

/* Task 1 *********************************************************************/

/* h1 {
    color: blue;
}

h2 {
    background-color: blue;
    
    color: white;
}

span {
    font-size: 200%;
} */

/* Task 2 *********************************************************************/

/* #special {
    background-color: yellow;
}

.alert {
    border: 2px solid grey;
}

.alert.stop {
    background-color: red;
}

.alert.go {
    background-color: green;
} */

/* Task 3 *********************************************************************/

/* a:link {
    color: orange;
}

a:visited {
    color: green;
}

a:hover {
    text-decoration: none;
}

.container > :first-child {
    font-size: 150%;
}

.container > :first-child:first-line {
    color: red;
}

table tr:nth-child(2n) {
    background-color: #333;
    
    color: white;
} */

/* Task 4 *********************************************************************/
h2 + p {
    color: red;
}

li {
    list-style-type: none;
}

ul.list > li {
    border-bottom: 1px solid grey;
}
