/* Task 1 *********************************************************************/

/* body {
    font: 1.2em / 1.5 sans-serif;
}
    
h1 {
    color: blue;
}

h2 {
    background-color: blue;
    
    color: white;
}

span {
    font-size: 200%;
} */

/* Task 2 *********************************************************************/

/* body {
    font: 1.2em / 1.5 sans-serif;
}
    
#special {
    background-color: yellow;
}

.alert {
    border: 2px solid grey;
}

.alert.stop {
    background-color: red;
}

.alert.go {
    background-color: green;
} */

/* Task 3 *********************************************************************/

/* body {
    font: 1.2em / 1.5 sans-serif;
}
    
a:link {
    color: orange;
}

a:visited {
    color: green;
}

a:hover {
    text-decoration: none;
}

.container > :first-child {
    font-size: 150%;
}

.container > :first-child:first-line {
    color: red;
}

table tr:nth-child(2n) {
    background-color: #333;
    
    color: white;
} */

/* Task 4 *********************************************************************/

/* h2 + p {
    color: red;
}

li {
    list-style-type: none;
}

ul.list > li {
    border-bottom: 1px solid grey;
} */

/* Task 5 *********************************************************************/

body {
    font: 1.2em / 1.5 sans-serif;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    margin: 0 0 0.5em 0;
}

a {
    display: block;
    padding: 0.5em;
}
a {
    border: 5px solid grey;
}

a[title] {
    border-color: pink;
}

a[href*="contact"] {
    border-color: orange;
}

a[href^="https"] {
    border-color: green;
}
